body {
    background-color: royalblue;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    max-width:1536px;
    max-height:100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left:0;
    top:0;
    width:100%
}

.navbar p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.abt p{
    margin: 20px;
}

.si p{
    margin-right: 20px;
}

.TITRE {
    margin-right:32%;
    text-decoration:underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: pink;
}    

.logo img{
    max-width: 50%;
    border-radius: 50%;
    position: relative;
    top:45px;

}

.al {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.pres{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.whatis p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: pink;
    text-align: center;
    font-size: 50px;
}

.m1 img{
    border-radius: 25%;
    max-width: 100%;
    box-shadow: 5px 10px 5px black;
}

.model1{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.whatis2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:pink;
    font-size: 50px;
}

.m2 img{
    border-radius: 25%;
    max-width:82%;
    max-height:50%;
    box-shadow:5px 10px 5px black;  
}

.model2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gt img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wol p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}

.wol h2{
    text-align: center;
}

.ts p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}

.ts h2{
    text-align: center;
}

.pyd p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
} 

.pyd h2{
    text-align: center;
}

.gtd p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
} 

.gtd h2{
    text-align: center;
}

.mt p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
} 

.mt h2{
    text-align: center;
}

.ga p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
} 

.ga h2{
    text-align: center;
}

.cyh p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
} 

.cyh h2{
    text-align: center;
}

.hf p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
} 

.hf h2{
    text-align: center;
}